PermitRootLogin no

PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes

AllowTcpForwarding no
X11Forwarding no
PrintMotd no
PrintLastLog no

AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
